<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.mybatis.dao.DepartmentMapper">
<!--    指定和哪个名称空间下的缓存一致-->
<!--    <cache-ref namespace="com.atguigu.mybatis.dao.EmployeeMapper"></cache-ref>-->
<!--    public Department getDeptById(Integer id);-->
    <select id="getDeptById" resultType="com.atguigu.mybatis.bean.Department">
        select id,departmentName from department where id = #{id}
    </select>

</mapper>